.TimesheetList {
    margin-top: 20px;
  }
  
  .TimesheetList h2 {
    margin-bottom: 15px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
  }
  